body {
    overflow-x: hidden;
    background-color: rgb(223, 223, 223);
    font-family: 'Roboto', sans-serif;
    color: rgb(56, 56, 56);
}

input[type=text] {
    font-size: 20px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(56, 56, 56);
    outline: none;
}

#regPage {
    position: absolute;
    top: 115px;
    width: 100vw;
}

#regHead {
    display: flex;
    justify-content: center;
}

.reg {
    display: flex;
    justify-content: space-around;
    margin-top: 75px;

}

#buttonR,
#buttonL {
    background-color: rgb(182, 228, 255);
    color: black;
    font-size: 15px;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
}

#buttonR:hover,
#buttonL:hover {
    background-color: rgb(210, 246, 255);
}

.google {
    width: 100vw;
    display: flex;
    justify-content: center;
}

iframe {
    position: absolute;
    top: 350px;
}

@media screen and (min-width: 480px) {
    input[type=text] {
        width: 300px;
    }

    .topnav {
        overflow: hidden;
        text-decoration: none;
        background-color: white;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 75px;
        box-shadow: 1px 1px 3px black;
        margin: 0px;
        padding: 0px;
        z-index: 9001;
        font-weight: 900;
    }

    .icon {
        display: none;
    }

    #myLinks {
        float: right;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .active {
        font-size: 25px;
        margin-right: 450px;
    }

    .link {
        margin-right: 15px;
        color: black;
        text-decoration: none;
        padding: 10px 20px;
    }

    .link:hover {
        text-decoration: underline;
    }

    .responseH1 {
        margin-top: 100px;
        margin-left: 50px;
    }

    .responseP {
        font-weight: 900;
        margin-left: 50px;
    }
}

@media screen and (max-width: 480px) {

    /*Mobile Nav Bar*/
    .topnav {
        z-index: 1;
        box-shadow: 0px 0px 3px black;
        border-radius: 2%;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        overflow: hidden;
        background-color: white;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: black;
        padding: 4% 3.9%;
        text-decoration: none;
        font-size: 100%;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a.icon:hover {
        background-color: white
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: whitesmoke;
        color: black;
    }
}

 /*.map {width: 400px;
     height: 300px;}*/