@media screen and (min-width: 480px) {
    .topnav {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    /*Mobile Nav Bar*/
    .topnav {
        z-index: 1;
        box-shadow: 0px 0px 3px black;
        border-radius: 2%;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        overflow: hidden;
        background-color: white;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: black;
        padding: 4% 3.9%;
        text-decoration: none;
        font-size: 100%;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a.icon:hover {
        background-color: white
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: whitesmoke;
        color: black;
        letter-spacing: 2px;
    }
}
/*#infoCont{
    display: block;
}
#locationCont{
    display:none;
}*/

 /*.mapTest {
    width: 70vw;
    height: 60vw;
    margin: 0 auto; }*/
